theme = "github_dark"

[editor]
true-color = true
line-number = "relative"
auto-format = false
bufferline = "multiple"

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.indent-guides]
render = true
character = "â–"
skip-levels = 1

